@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";
/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}
/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}
@include gridify(2, 400);
@include gridify(4, 600);
/**
 * GENERAL
 */

img {
    max-width: 10em;
    max-height: 10em;
}
body {
    transition: opacity .25s ease;
    padding: 0.75em;
    .container {
        background-color: pink;
    }
    .leftSide {
        font-family: Times, serif;
        background-color: red;
        position: absolute;
        min-width: 19em;
        min-height: 30em;
    }
    .rightSide {
        position: relative;
        display: block;
        padding-left: 3em;
        margin-left: 19em;
        background-color: orange;
        min-height: 25em;
        width: 73%;
    }
}
